<!DOCTYPE html>
<html>
<div class=container-fluid>
<div class=row>
<div class=span4>
  <h1>LTI Link Generator</h1>

<form>
  <fieldset class=form-group>
    <label for=tool>Choose the tool you would like to generate a link for</label>
    <select class=form-control id=tool>
      <option value="1" title="Provide a Blackboard link to evaluate student contributions to group work, a simple alternative to SPARC.">Group Work Peer Evaluation</option>
      <option value="2" title="Deliver problems and solutions securely to students via a Blackboard link">Secure Question/Answer Delivery</option>
    </select>
  </fieldset>
</form>
</span>
 </div>
</div>
</html>
<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->
