// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  margin: 1em !important;
  padding: 0.5em !important;
}
h1 {
  padding: 0.2em !important;
}
label {
  padding: 0.2em !important;
}
