// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  margin: 1em !important;
  padding: 0.5em !important;
}
h1 {
  padding: 0.2em !important;
}
label {
  padding: 0.2em !important;
}
input#key, input#secret {
  max-width: 6em;
  min-width: 4em;
}
#custom_params {
  min-height: 11em;
  max-height: 15em;
}
#marking_instructions {
  height: 18em;
  max-height: 22em;
  min-height: 12em;
}
#group_sub_heading, #evaluation_form_heading {
  width: 25em;
  min-width: 18em;
  max-width: 25em;
}
